/*.App {
	text-align: center;
	color: #0c1964;
	
}

input {
	color: #0c1964;
	border: 1px solid #babec1;
	background-color: #c0d6e4;
	border-radius: 15px;
	height: 30px;
	font-size: 16px;
}

button {
	padding: 7px 15px;
	border-radius: 15px;
	border: none;
	background-color: #12259b;
	margin: 5px;
	color: #fff;
	font-size: 16px;
	transition: .25s ease;
}

button:hover {
	background-color: #6677e2;
}*/
